snippet for
	for ${1:condition} do
		${2:# code...}
	od;
snippet while
	while ${1:condition} do
		${2:# code...}
	od;
snippet if
	if ${1:clause} then
		${2:# code...}
	fi;
snippet ifel
	if ${1:condition} then
		${2:# code...}
	else
		${3:# code...}
	fi;
snippet fn
	${1:fname} := function(${2:args})
		${3:# code...}
	end;
